<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="header" th:fragment="header_info">
    <div class="header-top">
        <div class="header-top__inner clear-fix">
            <div class="transfer-infor_header pull-left">
                <a href="">Miễn phí vận chuyển cho đơn hàng từ 499.000Đ </a>
            </div>

            <div class="header-top__account pull-right"><a href="">Tài khoảng</a></div>


            <div class="header-top__support pull-right"><a href="">Hỗ trợ</a></div>
            <div class="header-top__recruitment pull-right"><a href="">Tuyển dụng</a></div>
            <div class="header-top__customer pull-right"><a href="">KH thân thiết</a></div>
            <div class="header-top__show-room pull-right"><a href="">Cửa Hàng</a></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__inner row">
            <a id="canifa-logo" href=""><img src="https://canifa.s3.amazonaws.com/media/wysiwyg/info/logo.jpg" alt=""></a>
            <ul class="menu-bar">
                <li class="menu-item"><a href="">Nam</a></li>
                <li class="menu-item"><a href="">Nữ</a></li>
                <li class="menu-item"><a href="">Bé Trai</a></li>
                <li class="menu-item"><a href="">Bé Gái</a></li>
                <li class="menu-item"><a href="">New Arrivals</a></li>
                <li class="menu-item"><a href="">SALE</a></li>
            </ul>
            <div class="search-box">
                <input type="text">

            </div>

            <a class="cart-button" href="">
                <span id="cart-number">0</span>
            </a>

        </div>

        <div id="navigation-menu" class="menu-box row">
            <div class="menu_catergory column">
                <h3>Danh mục sản phẩm</h3>
                <ul class="shirt-product product-item_menu column">
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                </ul>


                <ul class="trouser-product product-item_menu column">
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                </ul>

            </div>
            <div class="menu_new-products column">
                <h3>Sản phẩm mới</h3>
                <h3>Sản phẩm đặc biệt</h3>
                <ul class="trouser-product product-item_menu column">
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                </ul>
            </div>
            <div class="menu_collection column">
                <h3>Bộ sưu tập</h3>
                <ul class="trouser-product product-item_menu column">
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                    <li><a href="">Áo Len</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sale-infomation">
    <span class="sale-desc">Giảm Giá Toàn Bộ Sản Phẩm Từ 30% - 50%</span>
    <span class="sale-deadtime">27h 55m 20s</span>
</div>
</body>
<!--<script type="text/javascript" th:src="@{/js/header.js}"></script>-->